<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="CS_ADO_NET"
			 connectionString="Data Source=(LocalDB)\MSSQLLocalDB;
			 AttachDbFilename=C:\Users\64609-gabriel\Documents\ADS\SolutionADO_NET\App_Data\ADO_NETDatabase.mdf;
			 Integrated Security=True"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>